---
layout: layouts/base.liquid
description: Listen to Jon Kohlmeier & Stan Lemon discuss technology, finance, life, craftsmanship, theology, and everything else with a twist of lemon.
permalink: "{% if pagination.pageNumber == 0 %}/{% else %}/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.blog
  size: 10
  alias: posts
  reverse: false
eleventyComputed:
  title: "{% if pagination.pageNumber == 0 %}Life with a Twist of Lemon - A Podcast about Technology, Finance, Life, and More{% else %}Page {{ pagination.pageNumber | plus: 1 }} - Life with a Twist of Lemon{% endif %}"
---

<div class="blog-grid">
  {% for post in posts %}
    <article class="blog-post-card">
      <header>
        <h3>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <small>{{ post.date | readableDate }}</small>
      </header>
      <section>
        <p>{{ post.data.description | default: post.templateContent | excerpt: 200 }}</p>
      </section>

      {% include "partials/tags.liquid", label: "tags", prefix: "tag", values: post.data.tags %}
      {% include "partials/tags.liquid", label: "categories", prefix: "category", values: post.data.categories %}
    </article>
  {% endfor %}
</div>

{% include "partials/sliding-pagination.liquid", pagination: pagination %}
