{% if values and values.size > 0 %}
  <section class="tags-section" aria-label="{{ label }}">
    <span class="tags-section__label">{{ label }}</span>
    <ul class="tags-list" role="list">
      {% for value in values %}
        <li>
          <a class="tag-pill" href="/{{ prefix }}/{{ value | slugify }}/">{{ value }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
